.dashboard{
    width: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  background: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logout-btn {
  background: crimson;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.logout-btn:hover {
  background: darkred;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 {
  color: #666;
  margin-bottom: 10px;
}

.card p {
  font-size: 22px;
  font-weight: bold;
}

.charts {
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 1000px;
  height: 400px;
  margin: 20px auto;
}

.main .login-form {
  width: 90%;
  max-width: 350px;
  margin: 80px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-weight: 600;
}

.main .login-form input {
  width: 100%;
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: border 0.2s ease-in-out;
}

.main .login-form input:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
}

.main .login-form button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #ec5c00;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.main .login-form button:hover {
  background: #ff8234;
}

@media (max-width:900px) {
    .dashboard{
        max-width: 82%;
    }
    
    .header {
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .header h1{
        font-size: 18px;
    }

    .charts{
        max-width: 90%;
    }
}
